{% load staticfiles %}
<div>
    <img id="psix" src="{% static 'Miaminovel/images/psixolog4.jpg' %}" class=""
         style="width:100%; height:500px; margin-bottom: 30px; margin-top: 0px;" alt="">
</div>
<div id="gifts" class="container">
    <h2 class="section-heading text-center">Наши услуги</h2>
    <hr class="primary">
    <div class="row">
        <div class="col col-lg-3 col-sm-6 col-md-2">
            <div class="charity-box">
                <img src="{% static 'Miaminovel/images/psixolog2.jpg' %}" class="img-responsive" style="height:200px"
                     alt="">
                <h3><b>Психолог</b></h3>
                <p>
                    Психолог занимается проведением консультативных и коррекционных работ по выходу клиента из
                    стрессовых и депрессивных состояний, психологической поддержкой при решении имеющихся проблем и
                    улучшению психо-эмоционального состояния.
                </p>
            </div>
        </div>
        <div class="col col-lg-3 col-sm-6 col-md-2">
            <div class="charity-box">
                <img src="{% static 'Miaminovel/images/psixoanalitika.jpg' %}" class="img-responsive" style="height:200px"
                     alt="">
                <h3><b>Психоаналитик</b></h3>
                <p>Психоаналитик всегда исходит из присутствия в каждом психическом проявлении его скрытого
                    бессознательного содержания. </p>
            </div>
        </div>
        <div class="col col-lg-3 col-sm-6 col-md-2">
            <div class="charity-box">
                <img src="{% static 'Miaminovel/images/seksopotolog.jpg' %}" class="img-responsive" style="height:200px"
                     alt="">
                <h3><b>Сексопотолог</b></h3>
                <p>
                    Сексопотолог внимательно выслушивает жалобы и проблему, с которой обратился пациент. Далее он может
                    назначить необходимый перечень общеклинических и специальных исследований, которые необходимы для
                    точного установления диагноза.
                </p>
            </div>
        </div>
        <div class="col col-lg-3 col-sm-6 col-md-2">
            <div class="charity-box">
                <img src="{% static 'Miaminovel/images/geshtalt.jpeg' %}" class="img-responsive" style="height:200px"
                     alt="">
                <h3><b>Гештальт терапевт</b></h3>
                <p>
                    Психолог, специализирующийся в гештальт-методе, выслушает человека, обратившегося за помощью.
                    Доброжелательно и с интересом расспрашивает клиента о подробностях его жизни, внутренних
                    переживаниях
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="uslugu">
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/person.png' %}" class="img-responsive" alt="">
            <h4><strong>Анонимность</strong></h4>
            <p>Расскажи о себе то, что считаешь нужным. Ты имеешь право не называть свое настоящее имя. В нашем чате не
                требуется предварительная регистрация.
            </p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/lock.png' %}" class="img-responsive" alt="">
            <h4><strong>Конфиденциальность</strong></h4>
            <p>Мы не записываем разговоры и не сохраняем переписку через чат. Консультант гарантирует, что все, о чем вы
                говорили или писали останется между консультантом и тем, кто написал в чате или на почте. Никто третий
                об этом не узнает.
            </p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/hands.png' %}" class="img-responsive" alt="">
            <h4><strong>Уважение</strong></h4>
            <p>То, что тебя волнует, становится важно и для консультанта в момент разговора. Мы стараемся быть бережными
                и внимательными к каждому обращению.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-sm-6 text-center">
            <img src="{% static 'Miaminovel/images/free.png' %}" class="img-responsive center mar-top-100" alt="">
            <h3 class="mar-top-40">Обращение в службу психологической помощи </h3>

            <h2 class="mar-top-60">«Мы здесь, чтобы быть рядом с тобой, когда сложно, пытаться понять и помочь
                тебе.»</h2>
            <button class="button">
                <a href="mailto:{{ support_email }}" target="_blank" style="color: white;">НАПИСАТЬ КОНСУЛЬТАНТУ</a>
            </button>
        </div>
        <div class="col-xl-6 col-sm-6">
            <img src="{% static 'Miaminovel/images/lock-img.jpg' %}" class="img-responsive center mar-top-60" alt="">
        </div>
    </div>
</div>
<div class="container">
    <h2 id="h2">О чем говорить?</h2><br>
    <p><strong>В каких ситуациях можно обратиться к нам</strong></p>
    <p>Иногда люди думают, что обратиться за помощью психологу можно лишь тогда, когда дошел до края. Это не совсем так.
        Нам пишут в чат дети, подростки и молодые люди в различных ситуациях, и наши консультанты искренне стараются
        помочь им и поддержать их. Мы приводим здесь список тем, с которыми к нам обращаются. Наверное, он не
        полный.</p>
    <div class="row">
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/drujba.png' %}" alt="">
            <h3>Дружба</h3>
            <p>Отсутствие друзей
                Проблемная дружба
                Отдаление друг от друга
                Ссоры с друзьями Ревность
                Чувство исключенности из дружбы
                Завершение проблемной дружбы
                Помощь другу</p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/relation.png' %}" alt="">
            <h3>Отношения</h3>
            <p>Начало отношений
                Безответная любовь
                Разрыв отношений
                Жизнь без пары
                Родители и отношения
                Отношения на расстоянии
                Гомосексуальные отношения
                Секс без отношений</p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/school.png' %}" alt="">
            <h3>Школа</h3>
            <p>Новая школа
                Университетская жизнь
                Конфликты с учителями
                Оценки
                Окончание школы
                Стресс из-за экзаменов
                Конфликт в классе
                Травля в школе
                Нежелание учиться</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/family.png' %}" alt="">
            <h3>Семья</h3>
            <p>Неприемлемые домашние правила
                Конфликты с братьями или сестрами
                Развод родителей
                Конфликт с родителями
                Отсутствие одного или обоих родителей
                Конфликт с другими членами семьи
                Пьющие родители
                Отношения с отчимом или мачехой
                Смерть близкого человека</p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/jestokost.png' %}" alt="">
            <h3>Жестокость и насилие</h3>
            <p>Травля, издевательства
                Травля в интернете
                Сексуальное насилие
                Сексуальные домогательства
                Угрозы, избиения сверстниками
                Шантаж, вымогательство денег
                Предрассудки, предвзятое отношение
                Насилие в семье</p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/health.png' %}" alt="">
            <h3>Физическое здоровье</h3>
            <p>Рост и изменение тела в подростковом возрасте
                Контрацептивы и предохранение от беременности
                Нежелательная беременность
                Аборт
                Алкоголь и наркотики
                Курение
                Болезнь, инвалидность
                Нарушения питания
                Нарушение сна</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/emotion.png' %}" alt="">
            <h3>Эмоциональное состояние</h3>
            <p>Низкая самооценка
                Утрата и печаль
                Чувство гнева
                Чувство грусти
                Одиночество и изоляция
                Депрессия, апатия, безразличие
                Суицидальные мысли
                Паника и тревога</p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/zakon.png' %}" alt="">
            <h3>Отношения с законом</h3>
            <p>Кража
                Любое нарушение закона
                Найти место для проживания
                Страх наказания
                Вовлечение в противозаконные действия

            </p>
        </div>
        <div class="col-xl-4 col-sm-4">
            <img src="{% static 'Miaminovel/images/vse.png' %}" alt="">
            <h3>Всё, о чем ты хочешь поговорить</h3>
            <p>Если ты просто хочешь поделиться тем, что у тебя на душе, то напиши нам в чат или на электронную почту.
                Мы говорим на любые темы.</p>
        </div>
    </div>
</div>