
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 style="color: red" class="section-heading text-center">Служба Качества</h2><br/>

                    <div class="col-lg-4 text-center">
                        <p style="color: yellow; font-size:25px">Первая консультация бесплатная</p><hr/>
                        <p>Вы можете убедиться в качестве услуг, прежде чем заключать договор. У Вас будет достаточно времени с экспертом, чтобы узнать все о LifeStyleGroup.</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p style="color: yellow; font-size:25px">Конфиденциальность консультаций</p><hr/>
                        <p>Строгие правила сервиса LifeStyleGroup гарантируют полную конфиденциальность Ваших данных и разговоров с экспертами. Всё, о чём Вы говорите во время консультации, остаётся между Вами.</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p style="color: yellow; font-size:25px">Квалифицированные эксперты</p><hr/>
                        <p>В компании работают эксперты по семейным отношениям и профессиональные коучи с опытом работы свыше 12 лет. Квалификация каждого подтверждена дипломами ведущих Российских и Европейских Университетов.</p><br/><br/>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p style="color: yellow; font-size:25px">Индивидуальный подход</p><hr/>
                        <p>Для каждого клиента готовится персональный алгоритм работы. Клиента сопровождают двое: эксперт по межличностным отношениям и личный коуч. Эффективность методов основана на российском и международном опыте.</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p style="color: yellow; font-size:25px">Гибкая система оплаты</p><hr/>
                        <p>В LifeStyleGroup цена договора открыта для всех Клиентов. Вы имеете возможность формировать стоимость услуги самостоятельно или с помощью эксперта.</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p style="color: yellow; font-size:25px">Прозрачность сервиса</p><hr/>
                        <p>В компании существует служба качества, доступная в любое время суток 24/7/365. Все замечания по работе рассматриваются в руководством в индивидуальном порядке.</p>
                    </div>
            </div>
        </div>
    </div>
</section>
